<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>大型储物箱</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{128,128}</string>
<key>spriteSourceSize</key>
<string>{128,128}</string>
<key>textureRect</key>
<string>{{1,1},{128,128}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>dabaoxian</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{120,120}</string>
<key>spriteSourceSize</key>
<string>{128,128}</string>
<key>textureRect</key>
<string>{{130,1},{120,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>抽屉</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,64}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{251,1},{64,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>窗</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,64}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{251,66},{64,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>开的门</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,64}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{316,1},{64,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>门</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,64}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{316,66},{64,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>木箱</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,64}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{381,1},{64,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>皮质外套</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,64}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{381,66},{64,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>普通外套</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,64}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{446,1},{64,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>上等皮夹克</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,64}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{446,66},{64,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>墙</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,64}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{511,1},{64,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>上楼</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,64}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{511,66},{64,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>室内地面</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,64}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{576,1},{64,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>铁箱</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,64}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{576,66},{64,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>下楼</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,64}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{641,1},{64,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>桌面</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{64,64}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{641,66},{64,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>小型保险</key>
<dict>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{48,48}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{706,1},{48,48}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>中型保险</key>
<dict>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{46,48}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{706,50},{46,48}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>家用医疗箱</key>
<dict>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{44,43}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{755,1},{44,43}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>普通武器箱</key>
<dict>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{44,40}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{755,46},{44,40}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>高级武器箱</key>
<dict>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{44,39}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{755,91},{44,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>军用医疗箱</key>
<dict>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{44,39}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{796,46},{44,39}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>专业医疗箱</key>
<dict>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{44,39}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{799,1},{44,39}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>旅行箱</key>
<dict>
<key>spriteOffset</key>
<string>{2,-4}</string>
<key>spriteSize</key>
<string>{32,44}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{706,97},{32,44}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>文件箱</key>
<dict>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{40,33}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{800,91},{40,33}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>手提包</key>
<dict>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{32,29}</string>
<key>spriteSourceSize</key>
<string>{64,64}</string>
<key>textureRect</key>
<string>{{836,46},{32,29}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>texture.png</string>
<key>textureFileName</key>
<string>texture.png</string>
<key>size</key>
<string>{866,131}</string>
</dict>
</dict>
</plist>
